.layout
  &._auth &
    min-width 1000px
    &__col
      box-sizing border-box
      &:first-child
        padding-right 116px
        width 50%
        position static
        text-align right
      &:last-child
        padding-left 40px
        width 50%
        margin-left 0
      &-inner
        width 100%
    &__logo
      margin-top 279px
      width 235px
      height 100px
      display inline-block
    &__content
      margin-top 190px